body,
html {
    background-color: #F2F6D0,
    height: 100%;
    width: 100%
}

body {
    font-family: Muli, Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #222
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#notes {
    float: right;
    width: 30%;
}


.card, .jumbotron {
    box-shadow: -5px 10px 10px #888888;
    /* height: 250px; */
}

.fa {
    padding: 10px;
    color: black;
}